// Colors
$red:hsl(0, 100%, 74%);
$green:hsl(154, 59%, 51%);
$blue:hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);
$fontSize: 16px;
$fontFamily:'Poppins',
sans-serif;

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $fontFamily;
    background: url(../assets/bg-intro-desktop.png);
    background-color: $red;
}

h2 {
    color: white;
    font-size: 45px;
}

p {
    letter-spacing: 0.2px;
}

.card {
    width: 445px;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
}

.textCol {
    margin-top: 15rem;
}

.btnColor {
    background-color: $blue;
    margin-top: 7rem;
}

.btnOneColor {
    color: $grayishBlue;
}

.btnColorTwo {
    background-color: $green;
    text-transform: uppercase;
    color: white;
    width: 415px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color:none;
    outline: 0;
    box-shadow: none;
}